// couleur
$mainColor : #EF7E41;
$secondaryColor : #417BEF;
$darkColor : #282828;
$greyLight : #7D8082;
$lightColor : white;
// couleur partie competences
$ide_red : #AA3527;
$ide_green : #7DBC29;
$ide_yellow : #CA9B2C;
$ide_blue : #437EAE;
// Font
$mainFont : 'Roboto';
$titleFont : 'Montserrat';
$subTitleFont : '';
$handWritterFont : 'Architects Daughte';
// MediaQuerry breakpoint
$mq_xxl : '1400px';
$mq_xl : '1200px';
$mq_l : '992px';
$mq_m : '768px';
$mq_s : '576px';

@import url(/public/css/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300&display=swap');

/*******************************************************************/
/*                          General                                */
/*******************************************************************/

body{
    margin : 0;
    font-family: $mainFont;
    font-weight: normal;
    box-sizing: border-box;
    text-align: justify;
}

h1,h2,h3,h4{
    font-family: $titleFont;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
}

.hx_light{
    font-weight: normal;
}

h3{
    font-size: 3em;
}

h4{
    font-size: 2em;
}

/*******************************************************************/
/*                          Layout                                 */
/*******************************************************************/

.l_competences,.l_mainFooter,.l_presentation,.l_realisations{
    padding : 50px 10px;
}

.l_topHeader{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding : 0 10px;
}

.l_presentation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.l_realisations{

}

.l_competences{
    
}

.l_mainFooter{

}

/*******************************************************************/
/*                        Modules : bloc                           */
/*******************************************************************/

// Header
//*******************************************
.mainHeader{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 50px;
}

// main_logo
.main_logo{
    &--light{
        font-weight: normal;
    }
}

// main_nav
.main_nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 20px;
    display: none;
    @media screen and (min-width: $mq_s){ display: block;}
}

//Jumbotron
//*******************************************
.jumbotron{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    &__title{
        font-size: 1.5em;
        @media screen and (min-width: $mq_s){ font-size: 2.5em;}
        @media screen and (min-width: $mq_l){ font-size: 4em;}
    }

    &__subtitle{
        text-align: end;
        position: relative;
        top: -30px;
        font-size: 1em;
        font-family: $handWritterFont;
        @media screen and (min-width: $mq_s){ font-size: 1.5em; top: -65px;}
        @media screen and (min-width: $mq_l){ font-size: 2em; top: -95px;}
    }

    &__image{
        width: 100%;
        max-width: 430px;
        align-self: center;
    }
}

// Avatar presentation
//*******************************************
.presentation_avatar{
    border: 1px solid #000;
    position: relative;

    &__image_base{
        width: 100%;
        max-width: 130px;
    }

    &__image_avatar{
        width: 120%;
        max-width: 180px;
        position: absolute;
        top : -130px;
        left: -25px;
        transform-origin: center bottom;
        animation: 5s infinite avatar_head;
    }
}

@keyframes avatar_head {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-10deg);
    }
}

// presentation_main
//*******************************************
.presentation_main{
    width: 50%;
    border: 1px solid #000;
    &__title{
        font-size: 1.5em;
        @media screen and (min-width: $mq_s){ font-size: 2.5em;}
        @media screen and (min-width: $mq_l){ font-size: 4em;}
    }

    &__subtitle{
        text-align: start;
        position: relative;
        top: -30px;
        font-size: 1em;
        color : $greyLight;
        font-family: $handWritterFont;
        @media screen and (min-width: $mq_s){ font-size: 1.2em; top: -50px;}
        @media screen and (min-width: $mq_l){ font-size: 2em; top: -80px;}
    }
}

// presentation_cv
//*******************************************
.presentation_cv{
    border: 1px solid #000;
    position: relative;

    img{
        width: 200px;
    }

    .presentation_cv_avatar{
        width: 50px;
        z-index: -1;

        position: absolute;
        top: -20px;
        right: -30px;
    }
}

//
.realisation_item{
    display: flex;
    justify-content: center;

    .realisation_item_monitor{
        .realisation_img{
            width: 500px;
        }
    }
    
    .realisation_item_description{
        width: 50%;
    }
}

//
.competences_header{
    display: flex;
    justify-content: center;
}

//
.competences_item{
    .ide_yellow{
        color : $ide_yellow;
        font-family: $titleFont;
        font-weight: bold;
    }
    .ide_blue{
        color : $ide_blue;
        font-family: $titleFont;
        font-weight: bold;
    }
    .ide_green{
        color : $ide_green;
        font-family: $titleFont;
        font-weight: bold;
    }
}

/*******************************************************************/
/*                          Themes                                 */
/*******************************************************************/

a{
    font-family: $titleFont;
    font-weight: bold;
    color : white;
}

.l_topHeader{
    background-color: $mainColor;
    color: $lightColor;
}

.l_presentation{

}

.l_realisations{
    background-color: $secondaryColor;
    color: $lightColor;
}

.l_competences{
    background-color: $darkColor;
    color: lighten($darkColor,40);

    h3{
        color: $ide_red;
    }
}

.l_mainFooter{
    background-color: $mainColor;
    color: $lightColor;
}