// couleur
$mainColor : #EF7E41;
$secondaryColor : #417BEF;
$darkColor : #282828;
$greyLight : #7D8082;
$lightColor : white;
// couleur partie competences
$ide_red : #AA3527;
$ide_green : #7DBC29;
$ide_yellow : #CA9B2C;
$ide_blue : #437EAE;
// Font
$mainFont : 'Roboto';
$titleFont : 'Montserrat';
$subTitleFont : '';
$handWritterFont : 'Architects Daughte';
// MediaQuerry breakpoint
$mq_xxl : '1400px';
$mq_xl : '1200px';
$mq_l : '992px';
$mq_m : '768px';
$mq_s : '576px';

@import url(/public/css/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300&display=swap');

/*******************************************************************/
/*                          General                                */
/*******************************************************************/
html{
    scroll-behavior: smooth;
}

body{
    margin : 0;
    font-family: $mainFont;
    font-weight: normal;
    box-sizing: border-box;
    text-align: justify;
}

h1,h2,h3,h4{
    font-family: $titleFont;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
}

.hx_light{
    font-weight: normal;
}

h3{
    font-size: 3em;
}

h4{
    font-size: 2em;
}

/*******************************************************************/
/*                          Layout                                 */
/*******************************************************************/

.l_competences,.l_mainFooter,.l_presentation,.l_realisations{
    padding : 50px 15px;
    padding-top: 150px !important;
    @media screen and (min-width: $mq_s){ padding: 50px 20px;}
}
.l_competences,.l_mainFooter,.l_realisations{
    @media screen and (max-width: $mq_s){ padding-top: 80px !important;}
}
.l_presentation{
    @media screen and (max-width: $mq_s){ padding-top: 150px !important;}
}

.l_topHeader{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding : 0 10px;
}

.l_presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap : 15px 10px;
    padding-top : 150px;

    @media screen and (min-width: $mq_l){ 
        flex-direction: row;
        align-items: flex-end;
        padding-top : 50px;
    }
}

.l_realisations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.l_competences{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.l_mainFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*******************************************************************/
/*                        Modules : bloc                           */
/*******************************************************************/

// Fixed menu
//*******************************************
.contactbull{
    &__item:nth-child(1){
        position: fixed;
        bottom : 0px;
        right: calc(50% - 20px);
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        border-radius: 50px;
        z-index: 2;
        background-color: lighten($mainColor,20);
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 1s;

        @media screen and (min-width: $mq_s){ margin: 20px; right: 0;}

        &:hover{
            transform: scale(1.2);
            transition-duration: 1s;
        }
    }

    img{
        position: relative;
        top: 2px;
        width: 30px;
    }
}

// Header
//*******************************************
.mainHeader{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    right: 0;
    background-color: $mainColor;
    z-index: 2;
    @media screen and (min-width: $mq_s){ 
        gap: 0 50px;
    }
    @media screen and (max-width: 426px){ 
        
    }
}

// main_logo
//*******************************************
.main_logo{
    &--light{
        font-weight: normal;
    }
    @media screen and (max-width: 426px){ 
        font-size: 1em;
    }
}

// main_nav
//*******************************************
.main_nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 20px;
    display: none;
    @media screen and (min-width: $mq_s){ 
        display: block;
    }

    li{
        margin-right: 15px;
        margin-top: 10px;
    }

    &_mobile{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        font-size: 2em;
        gap: 30px 0;
    }
}

#main_nav-icone{
    width: 20px;
    display: none;
    @media screen and (max-width: $mq_s){ 
        display: block;
    }
}

#nav_full{
    display: block;
}

#smart_nav{
    position: fixed;
    right: -100vw;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: $mainColor;
    z-index: 3;
    transition-duration: 2s;

    li{
        margin-left: 30px;
    }
}

.openNav{
    right: 0 !important;
    transition-duration: 2s;
    animation-timing-function: ease-out;
}
//Jumbotron
//*******************************************
.jumbotron{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    &__title{
        font-size: 1.5em;
        @media screen and (min-width: $mq_s){ font-size: 2.5em;}
        @media screen and (min-width: $mq_l){ font-size: 4em;}
    }

    &__subtitle{
        text-align: end;
        position: relative;
        top: -30px;
        font-size: 1em;
        font-family: $handWritterFont;
        @media screen and (min-width: $mq_s){ font-size: 1.5em; top: -65px;}
        @media screen and (min-width: $mq_l){ font-size: 2em; top: -95px;}
    }

    &__image{
        width: 100%;
        max-width: 430px;
        align-self: center;
    }
}

// Avatar presentation
//*******************************************
.presentation_avatar{
    position: relative;
    margin-left: 20px;

    &__image_base{
        width: 90%;
        max-width: 130px;
        
    }

    &__image_avatar{
        width: 105%;
        max-width: 180px;
        position: absolute;
        top : -110px;
        left: -21px;
        transform-origin: center bottom;
        animation: 5s infinite avatar_head;

        @keyframes avatar_head {
            0%{
                transform: rotate(0deg);
            }
            50%{
                transform: rotate(-10deg);
            }
        }
    }
}

// presentation_main
//*******************************************
.presentation_main{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: $mq_s){ width: 100%;}
    @media screen and (min-width: $mq_l){ width: 70%;}

    &__title{
        font-size: 2em;
        margin-top: 0;
        @media screen and (min-width: $mq_s){ font-size: 2.5em;}
        @media screen and (min-width: $mq_l){ font-size: 4em;}
    }

    &__subtitle{
        text-align: end;
        position: relative;
        margin-bottom : 0;
        top: -38px;
        font-size: 1em;
        color : $greyLight;
        font-family: $handWritterFont;
        @media screen and (min-width: $mq_s){ font-size: 1.2em; top: -50px;}
        @media screen and (min-width: $mq_l){ font-size: 2em; top: -80px;}
    }

    p{
        margin: 0;
    }
}

// presentation_cv
//*******************************************
.presentation_cv{
    position: relative;
    padding-top: 20px;
    padding-left: 20px;

    &__cv{
        max-width: 200px;
        box-shadow: 1px 1px 5px black;
    }

    &__avatar{
        width: 100px;
        z-index: -1;

        position: absolute;
        top: -15px;
        right: 10px;
    }

    &:hover{
        .presentation_cv__avatar{
            top: -50px;
            right: 10px;
            transition-duration: 1s;
        }
    }
}

// realisation swimming avatar
//*******************************************
.realisation_swim{
    position: absolute;
    top: -30px;
    left: 50px;
    width: 100px;
    z-index : 0;
    animation: 5s infinite ease-out avatar_swim;
    @media screen and (max-width: $mq_s){ left: calc(50% - 50px);}
    @keyframes avatar_swim {
        0%{
            transform: translateY(0%);
        }
        50%{
            transform: translateY(20%);
        }
    }
}

// realisation title
//*******************************************
.realisation_title{
    &__title{
        margin-top: 0;
        font-size: 1.8em;
        @media screen and (min-width: $mq_s){ font-size: 2.5em;}
        @media screen and (min-width: $mq_l){ font-size: 4em;}
    }

    &__subtitle{
        text-align: end;
        position: relative;
        top: -30px;
        font-size: 1em;
        color : $lightColor;
        font-family: $handWritterFont;
        @media screen and (min-width: $mq_s){ font-size: 1.2em; top: -50px;}
        @media screen and (min-width: $mq_l){ font-size: 2em; top: -80px;}
    }
}

// realisation item
//*******************************************
.realisation_item{
    position: relative;
    max-width: 1000px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $mq_s){flex-direction: row;}

    &:nth-child(even){
        @media screen and (min-width: $mq_s){flex-direction: row-reverse;}
    }
    
    &__monitor{ 
        width: 200px;
        z-index : 1;
        @media screen and (min-width: $mq_s){padding: 0 50px 0 50px;}
        @media screen and (min-width: $mq_xl){width: 250px;}

        &:hover{
            filter: drop-shadow(1px 1px 1px darken($secondaryColor,30));
        }
    }

    a{
        z-index: 0;
    }

    &__description{
        max-width: 800px;
        a{
            h4{
                &:hover{
                    background-color: darken($secondaryColor,5);
                    color: wheat;
                }
            }
        }
        h4{
            text-align: center;
            background-color: darken($secondaryColor,3);
            border-radius: 0 10px;
            margin: 0;
            font-size: 1.3em;
            padding: 10px;
        }
    }

    &__logo{
        width: 30px;
        margin-right: 5px;
    }

    &__technologie{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 0 10px;
        padding: 5px;
    }

    &__coming{
        margin: 20px;
        border: 5px $darkColor solid;
        background-color: $lightColor;
        padding-top: 20px;
        min-width: 200px;
        height: 100px;
        color: $darkColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h5{
            font-size: 1.4em;
            margin: 0;
        }

        span{
            font-size: 0.8em;
        }
    }

    h5{
        margin: 0;
    }
}

// competence header
//*******************************************
.competences_header{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__avatar{
        width: 100%;
        max-width: 130px;
    }

    &__comment{
        margin-bottom: 0;
    }

    &__title{
        font-size: 1.5em;
        margin: 0 0 20px 0;
        width: 100%;
        @media screen and (min-width: $mq_s){ font-size: 2.5em;}
        @media screen and (min-width: $mq_l){ font-size: 4em;}

        &--litle{
            font-size: 0.5em;
        }
    }
}

// competence items
//*******************************************
.competences_items{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// competence item
//*******************************************
.competences_item{
    max-width: 450px;
    border-top:  1px solid darken($greyLight, 25);
    border-bottom: 1px solid darken($greyLight, 25);
    border-radius: 0 10px;
    margin: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $mq_l){ border: none;}

    &__comment{
        margin-bottom: 0;
    }

    &__tech{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img{
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        p{
            margin: 5px;
        }
    }
}

// footer
//*******************************************

.footer{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 50px;
    &__avatar{
        width: 200px;
    }

    &__main{
        max-width: 500px;
    }

    &__reseaux{
        display: flex;
        justify-content: center;

        &__icon{
            border-radius: 50px;
            margin-right: 20px;

            &:hover{
                transform: rotate(360deg);
                transition-duration: 1s;
            }
        }
    }

}

/*******************************************************************/
/*                          Themes                                 */
/*******************************************************************/
#switch_theme{
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    width: 20px;
    height: 20px;
    z-index: 5;
    border-radius: 50%;
    border: 2px solid white;
    padding : 5px;
    transition-duration: 0.5s;
    img{
        width: 100%;
    }
}

.switch_black{
    border: 3px solid $darkColor !important;
    transition-duration: 0.5s;
}

.switch_push{
    transform: translateX(45px);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

#switch_container{
    position: absolute;
    top : 50px;
    right: 10px;
    width: 80px;
    border-radius: 50px;
    border: 2px solid white;
}

.display_none{
    display: none;
}

a{
    font-family: $titleFont;
    font-weight: bold;
    color : white;
}

.l_topHeader{
    background-color: $mainColor;
    color: $lightColor;
}

.l_presentation{

}

.l_realisations{
    background-color: $secondaryColor;
    color: $lightColor;
}


.l_competences{
    background-color: $darkColor;
    color: lighten($darkColor,40);
    transition-duration: 1s;
}

.l_competencesW{
    background-color: $lightColor;
    color: $darkColor;
    transition-duration: 1s;
}

.competences_item{
    .ide_yellow{
        color : $ide_yellow;
        font-family: $titleFont;
        font-weight: bold;
    }
    .ide_blue{
        color : $ide_blue;
        font-family: $titleFont;
        font-weight: bold;
    }
    .ide_green{
        color : $ide_green;
        font-family: $mainFont;
    }
}

.l_mainFooter{
    background-color: $mainColor;
    color: $lightColor;
}