@import url(/public/css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300&display=swap");
/*******************************************************************/
/*                          General                                */
/*******************************************************************/
body {
  margin: 0;
  font-family: "Roboto";
  font-weight: normal;
  box-sizing: border-box;
  text-align: justify;
}

h1, h2, h3, h4 {
  font-family: "Montserrat";
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

.hx_light {
  font-weight: normal;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

/*******************************************************************/
/*                          Layout                                 */
/*******************************************************************/
.l_competences, .l_mainFooter, .l_presentation, .l_realisations {
  padding: 50px 15px;
}
@media screen and (min-width: 576px) {
  .l_competences, .l_mainFooter, .l_presentation, .l_realisations {
    padding: 50px 20px;
  }
}

.l_topHeader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.l_presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px 10px;
  padding-top: 150px;
}
@media screen and (min-width: 992px) {
  .l_presentation {
    flex-direction: row;
    align-items: flex-end;
    padding-top: 50px;
  }
}

.l_realisations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.l_competences {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.l_mainFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*******************************************************************/
/*                        Modules : bloc                           */
/*******************************************************************/
.contactbull {
  /*     &__item:nth-child(2){
          position: fixed;
          bottom : 50px;
          right: 0;
          width: 40px;
          height: 40px;
          margin: 20px;
          border-radius: 50px;
          z-index: 2;
          background-color: lighten($mainColor,20);
          display: flex;
          justify-content: center;
          align-items: center;
      } */
}
.contactbull__item:nth-child(1) {
  position: fixed;
  bottom: 0px;
  right: calc(50% - 20px);
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 50px;
  z-index: 2;
  background-color: #f7be9f;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 576px) {
  .contactbull__item:nth-child(1) {
    margin: 20px;
    right: 0;
  }
}
.contactbull img {
  position: relative;
  top: 2px;
  width: 30px;
}

.mainHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 50px;
}

.main_logo--light {
  font-weight: normal;
}

.main_nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 20px;
  display: none;
}
@media screen and (min-width: 576px) {
  .main_nav {
    display: block;
  }
}
.main_nav li {
  margin-right: 15px;
  margin-top: 10px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.jumbotron__title {
  font-size: 1.5em;
}
@media screen and (min-width: 576px) {
  .jumbotron__title {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 992px) {
  .jumbotron__title {
    font-size: 4em;
  }
}
.jumbotron__subtitle {
  text-align: end;
  position: relative;
  top: -30px;
  font-size: 1em;
  font-family: "Architects Daughte";
}
@media screen and (min-width: 576px) {
  .jumbotron__subtitle {
    font-size: 1.5em;
    top: -65px;
  }
}
@media screen and (min-width: 992px) {
  .jumbotron__subtitle {
    font-size: 2em;
    top: -95px;
  }
}
.jumbotron__image {
  width: 100%;
  max-width: 430px;
  align-self: center;
}

.presentation_avatar {
  position: relative;
  margin-left: 20px;
}
.presentation_avatar__image_base {
  width: 90%;
  max-width: 130px;
}
.presentation_avatar__image_avatar {
  width: 105%;
  max-width: 180px;
  position: absolute;
  top: -110px;
  left: -21px;
  transform-origin: center bottom;
  animation: 5s infinite avatar_head;
}
@keyframes avatar_head {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

.presentation_main {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 576px) {
  .presentation_main {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .presentation_main {
    width: 70%;
  }
}
.presentation_main__title {
  font-size: 2em;
  margin-top: 0;
}
@media screen and (min-width: 576px) {
  .presentation_main__title {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 992px) {
  .presentation_main__title {
    font-size: 4em;
  }
}
.presentation_main__subtitle {
  text-align: end;
  position: relative;
  margin-bottom: 0;
  top: -38px;
  font-size: 1em;
  color: #7D8082;
  font-family: "Architects Daughte";
}
@media screen and (min-width: 576px) {
  .presentation_main__subtitle {
    font-size: 1.2em;
    top: -50px;
  }
}
@media screen and (min-width: 992px) {
  .presentation_main__subtitle {
    font-size: 2em;
    top: -80px;
  }
}
.presentation_main p {
  margin: 0;
}

.presentation_cv {
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
}
.presentation_cv__cv {
  max-width: 200px;
  box-shadow: 1px 1px 5px black;
}
.presentation_cv__avatar {
  width: 100px;
  z-index: -1;
  position: absolute;
  top: -15px;
  right: 10px;
}
.presentation_cv:hover .presentation_cv__avatar {
  top: -50px;
  right: 10px;
  transition-duration: 1s;
}

.realisation_swim {
  position: absolute;
  top: -30px;
  left: 50px;
  width: 100px;
  z-index: 0;
  animation: 5s infinite ease-out avatar_swim;
}
@media screen and (max-width: 576px) {
  .realisation_swim {
    left: calc(50% - 50px);
  }
}
@keyframes avatar_swim {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
}

.realisation_title__title {
  margin-top: 0;
  font-size: 1.8em;
}
@media screen and (min-width: 576px) {
  .realisation_title__title {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 992px) {
  .realisation_title__title {
    font-size: 4em;
  }
}
.realisation_title__subtitle {
  text-align: end;
  position: relative;
  top: -30px;
  font-size: 1em;
  color: white;
  font-family: "Architects Daughte";
}
@media screen and (min-width: 576px) {
  .realisation_title__subtitle {
    font-size: 1.2em;
    top: -50px;
  }
}
@media screen and (min-width: 992px) {
  .realisation_title__subtitle {
    font-size: 2em;
    top: -80px;
  }
}

.realisation_item {
  position: relative;
  max-width: 1000px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 576px) {
  .realisation_item {
    flex-direction: row;
  }
}
@media screen and (min-width: 576px) {
  .realisation_item:nth-child(3), .realisation_item:nth-child(5) {
    flex-direction: row-reverse;
  }
}
.realisation_item__monitor {
  width: 200px;
  z-index: 1;
}
@media screen and (min-width: 576px) {
  .realisation_item__monitor {
    padding: 0 50px 0 50px;
  }
}
@media screen and (min-width: 1200px) {
  .realisation_item__monitor {
    width: 250px;
  }
}
.realisation_item__monitor:hover {
  filter: drop-shadow(1px 1px 1px #0c368b);
}
.realisation_item a {
  z-index: 0;
}
.realisation_item__description {
  max-width: 800px;
}
.realisation_item__description a h4:hover {
  background-color: #296bed;
  color: wheat;
}
.realisation_item__description h4 {
  text-align: center;
  background-color: #3371ee;
  border-radius: 0 10px;
  margin: 0;
  font-size: 1.3em;
  padding: 10px;
}
.realisation_item__logo {
  width: 30px;
  margin-right: 5px;
}
.realisation_item__technologie {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0 10px;
  padding: 5px;
}
.realisation_item__coming {
  margin: 20px;
  border: 5px #282828 solid;
  background-color: white;
  padding-top: 20px;
  min-width: 200px;
  height: 100px;
  color: #282828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.realisation_item__coming h5 {
  font-size: 1.4em;
  margin: 0;
}
.realisation_item__coming span {
  font-size: 0.8em;
}
.realisation_item h5 {
  margin: 0;
}

.competences_header {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.competences_header__avatar {
  width: 100%;
  max-width: 130px;
}
.competences_header__comment {
  margin-bottom: 0;
}
.competences_header__title {
  font-size: 1.5em;
  margin: 0 0 20px 0;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .competences_header__title {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 992px) {
  .competences_header__title {
    font-size: 4em;
  }
}
.competences_header__title--litle {
  font-size: 0.5em;
}

.competences_items {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.competences_item {
  max-width: 450px;
  border-top: 1px solid #3f4041;
  border-bottom: 1px solid #3f4041;
  border-radius: 0 10px;
  margin: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  .competences_item {
    border: none;
  }
}
.competences_item__comment {
  margin-bottom: 0;
}
.competences_item__tech {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.competences_item__tech img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.competences_item__tech p {
  margin: 5px;
}

.footer {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__avatar {
  width: 200px;
}
.footer__main {
  max-width: 500px;
}
.footer__reseaux {
  display: flex;
  justify-content: center;
}
.footer__reseaux__icon {
  border-radius: 50px;
  margin-right: 20px;
}
.footer__reseaux__icon:hover {
  transform: rotate(360deg);
  transition-duration: 1s;
}

/*******************************************************************/
/*                          Themes                                 */
/*******************************************************************/
a {
  font-family: "Montserrat";
  font-weight: bold;
  color: white;
}

.l_topHeader {
  background-color: #EF7E41;
  color: white;
}

.l_realisations {
  background-color: #417BEF;
  color: white;
}

.l_competences {
  background-color: #282828;
  color: #8e8e8e;
}
.l_competences h3 {
  color: #AA3527;
}

.competences_item .ide_yellow {
  color: #CA9B2C;
  font-family: "Montserrat";
  font-weight: bold;
}
.competences_item .ide_blue {
  color: #437EAE;
  font-family: "Montserrat";
  font-weight: bold;
}
.competences_item .ide_green {
  color: #7DBC29;
  font-family: "Roboto";
}

.l_mainFooter {
  background-color: #EF7E41;
  color: white;
}

/*# sourceMappingURL=style.css.map */
