@import url(/public/css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300&display=swap");
/*******************************************************************/
/*                          General                                */
/*******************************************************************/
body {
  margin: 0;
  font-family: "Roboto";
  font-weight: normal;
  box-sizing: border-box;
  text-align: justify;
}

h1, h2, h3, h4 {
  font-family: "Montserrat";
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

.hx_light {
  font-weight: normal;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

/*******************************************************************/
/*                          Layout                                 */
/*******************************************************************/
.l_competences, .l_mainFooter, .l_presentation, .l_realisations {
  padding: 50px 10px;
}

.l_topHeader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.l_presentation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*******************************************************************/
/*                        Modules : bloc                           */
/*******************************************************************/
.mainHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 50px;
}

.main_logo--light {
  font-weight: normal;
}

.main_nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 20px;
  display: none;
}
@media screen and (min-width: 576px) {
  .main_nav {
    display: block;
  }
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.jumbotron__title {
  font-size: 1.5em;
}
@media screen and (min-width: 576px) {
  .jumbotron__title {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 992px) {
  .jumbotron__title {
    font-size: 4em;
  }
}
.jumbotron__subtitle {
  text-align: end;
  position: relative;
  top: -30px;
  font-size: 1em;
  font-family: "Architects Daughte";
}
@media screen and (min-width: 576px) {
  .jumbotron__subtitle {
    font-size: 1.5em;
    top: -65px;
  }
}
@media screen and (min-width: 992px) {
  .jumbotron__subtitle {
    font-size: 2em;
    top: -95px;
  }
}
.jumbotron__image {
  width: 100%;
  max-width: 430px;
  align-self: center;
}

.presentation_avatar {
  border: 1px solid #000;
  position: relative;
}
.presentation_avatar__image_base {
  width: 100%;
  max-width: 130px;
}
.presentation_avatar__image_avatar {
  width: 120%;
  max-width: 180px;
  position: absolute;
  top: -130px;
  left: -25px;
  transform-origin: center bottom;
  animation: 5s infinite avatar_head;
}

@keyframes avatar_head {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
.presentation_main {
  width: 50%;
  border: 1px solid #000;
}
.presentation_main__title {
  font-size: 1.5em;
}
@media screen and (min-width: 576px) {
  .presentation_main__title {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 992px) {
  .presentation_main__title {
    font-size: 4em;
  }
}
.presentation_main__subtitle {
  text-align: start;
  position: relative;
  top: -30px;
  font-size: 1em;
  color: #7D8082;
  font-family: "Architects Daughte";
}
@media screen and (min-width: 576px) {
  .presentation_main__subtitle {
    font-size: 1.2em;
    top: -50px;
  }
}
@media screen and (min-width: 992px) {
  .presentation_main__subtitle {
    font-size: 2em;
    top: -80px;
  }
}

.presentation_cv {
  border: 1px solid #000;
  position: relative;
}
.presentation_cv img {
  width: 200px;
}
.presentation_cv .presentation_cv_avatar {
  width: 50px;
  z-index: -1;
  position: absolute;
  top: -20px;
  right: -30px;
}

.realisation_item {
  display: flex;
  justify-content: center;
}
.realisation_item .realisation_item_monitor .realisation_img {
  width: 500px;
}
.realisation_item .realisation_item_description {
  width: 50%;
}

.competences_header {
  display: flex;
  justify-content: center;
}

.competences_item .ide_yellow {
  color: #CA9B2C;
  font-family: "Montserrat";
  font-weight: bold;
}
.competences_item .ide_blue {
  color: #437EAE;
  font-family: "Montserrat";
  font-weight: bold;
}
.competences_item .ide_green {
  color: #7DBC29;
  font-family: "Montserrat";
  font-weight: bold;
}

/*******************************************************************/
/*                          Themes                                 */
/*******************************************************************/
a {
  font-family: "Montserrat";
  font-weight: bold;
  color: white;
}

.l_topHeader {
  background-color: #EF7E41;
  color: white;
}

.l_realisations {
  background-color: #417BEF;
  color: white;
}

.l_competences {
  background-color: #282828;
  color: #8e8e8e;
}
.l_competences h3 {
  color: #AA3527;
}

.l_mainFooter {
  background-color: #EF7E41;
  color: white;
}

/*# sourceMappingURL=style.css.map */
